NODE_ENV=

# Service ports
GATEWAY_PORT=
AUTH_SERVICE_PORT=
USER_SERVICE_PORT=

# Shared auth/internal communication
JWT_SECRET=
JWT_EXPIRES_IN=
INTERNAL_API_KEY=

# Service URLs
AUTH_SERVICE_URL=
USER_SERVICE_URL=

# Auth Service database
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=

# User Service database
USER_DB_HOST=
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=

# User Service mail
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_ADDRESS=
MAIL_USERNAME=
MAIL_PASSWORD=
