NODE_ENV=development
PORT=8002


DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=


JWT_SECRET=super_secret_jwt_key_change_in_production

# For internal communication
INTERNAL_API_KEY=internal_secret_key

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_ADDRESS=
MAIL_USERNAME=
MAIL_PASSWORD=